html{
	height: 100vh;
}
body{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
main{
	flex:1;
}
footer{
	padding: 1.5em;
}
iframe{
	min-height: 90vh;
}
.traffic-map{
	height: 90vh;
	width: 100%;
}
.appeals-table{
    min-width: 360px;
    max-width: 1000px;
}
.appeals-table table{
    width: 100%;
}

.appeal-map {
    height: 400px;
}

.current-link {
    background-color: white;
    color: black!important;
}
